<div class="col-md-12 col-sm-12 col-xs-12 sponsor ">
    <% if(bannerimoveis[0].linkbotao != '' && bannerimoveis[0].linkbotao != undefined) { %>
    <a href="<%= bannerimoveis[0].linkbotao%>" target="_blank">
        
        <img src="<%= bannerimoveis[0].image.url %>" alt="" class="img-fluid">
    </a>
    <% } else {%>
    <a class="sponsor-a-disabled">
        <img src="<%= bannerimoveis[0].image.url %>" alt="" class="img-fluid">
    </a>
    <% } %>
</div>