<section id="banner" style="background: url(<%=bannerFiltro[0].image.url%>) no-repeat; background-position: center center; background-size: cover;" >
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="banner_area wow fadeInUp">
                    <h3 class="page_title">Pesquisar Imóveis</h3>
                    <div class="page_location">
                        <a href="index.html">Início</a>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span>Pesquisar Imóveis</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>